
/*Darle la forma principal a la tabla*/
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
/*Para centrar el titulo superior de la tabla*/
h1{
    text-align: center;
}
/*Darle el color de fondo*/
.dias{
    background-color: grey;
}
.lenguajes{
    background-color: darksalmon;
}
.sistemas{
    background-color:  rgba(6, 249, 6, 0.927);
}
.ipe{
    background-color: chocolate;
}
.bd{
    background-color: gold;
}
.prg{
    background-color: aqua;
}
.ents{
    background-color: blueviolet;
}
.sos{
    background-color: mediumspringgreen;
}
.dig{
    background-color: darkcyan;

}