/* Estilos generales para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño de los elementos */
}


body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
    background-color: #f4f4f4; /* Fondo gris claro */
    background-image: url('../posicionamiento/images/posicionamiento.png');
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 20px;
    background-color: transparent 
    
}

/* Estilo para el título */
h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}



/* Contenedor de las cajas */
.content {
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar las cajas */
    justify-content: center; /* Distribuye las cajas con espacio entre ellas */
    gap: 20px; /* Espacio entre las cajas */
}

/* Estilo para cada caja */
.box {
    background-color: #71e975; /* Fondo verde */
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Efecto de transición */
}

/* Efecto hover en las cajas */
.box:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}
a {
    color: black; /* Cambia el color del texto del enlace a blanco */   
    text-decoration: none; /* Elimina el subrayado, opcional */
    }
