* {
    height: 100%;
}

div.azul {
    background-color: blue;
    width: 50%;
    height: 50%;
    float: left;
}

div.rojo {
    background-color: red;
    width: 50%;
    height: 50%;
    float: right;
}

div.verde {
    background-color: green;
    width: 50%;
    height: 50%;
    clear: both;
    float: left;
}

div.amarillo {
    background-color: yellow;
    width: 50%;
    height: 50%;
    float: right;
}
